{% extends 'students/base.html' %} {% block content %} {% load static %}
<div class="about">
<h1>Universitetin tarixi</h1>
<p>
  Azərbaycanda texniki təhsilin əsası ilk dəfə 1887-ci ilin noyabr ayının 10-da
  Bakı şəhər Duması tərəfindən Bakıda 4 sinifli texniki məktəbin yaradılması ilə
  qoyulub. Burada dülgərlik, xarratlıq, dəmirçilik və çilingərlik emalatxanaları
  fəalliyyət göstərirdi. Plana görə məktəbdə gündə ümumi fənləri öyrənmək üçün
  3, ixtisasları mənimsəmək üçün isə 7 saat vaxt ayrılmışdı. 1900-cü ildə burada
  124 nəfər təhsil alırdı. 1905-ci ilə qədər bu məktəbin mexanika şöbəsi üzrə
  50, inşaat şöbəsi üzrə 55 nəfər buraxılışı olub.
</p>
<p>
  1905-ci ilin yanvarında bu məktəb Mexanika-inşaat orta texniki məktəbi kimi
  fəalliyyət göstərməyə başlamışdı. 1910-cu ildə buradakı Mexanika şöbəsində
  neftmexanika və elektromexanika istiqamətləri üzrə mütəxəsislər
  hazırlayırdılar. Məktəbin tərkibində çilingər-torna, zərblə naxış vurma və
  heykəltəraş-daşyonma tədris emalatxanaları var idi. 1916-cı ildə orta texniki
  məktəbdə artıq 494 tələbə təhsil alırdı. Onlardan cəmi 20 nəfəri azərbaycanlı
  idi.
</p>
<p>
  1918-ci ilin ortalarında Azərbaycan Demokratik Respublikasının qərarına
  əsasən, Mexanika-inşaat orta texniki məktəbi Politexnikum adlandırılıb. 188
  nəfər tələbəsi olan təhsil ocağında Neft sənayesi, Elektromexanika və
  Memarlıq-inşaat şöbələri fəaliyyət göstərib. O zaman Azərbaycanda cəmi 62
  nəfər ali təhsillidən 12-si mühəndis olub. 14 noyabr 1920-ci ildə Azərbaycan
  İnqilab Komitəsinin sədri Nəriman Nərimanovun dekreti ilə tərkibində Neft
  sənayesi, Elektromexanika və Memarlıq-inşaat şöbələri olan Bakı
  Politexnikumunun bazasında ali texniki mütəxəs­sislər hazırlayan Bakı
  Politexnik İnstitutu yaradılıb. Bu institutun tərkibində Neft sənayesi,
  Elektromexanika, İnşaat-mühəndis, Kənd təsərrüfatı və İqtisadiy­yat
  fakültələri fəaliyyət göstərib. 1923-cü ildən Bakı Politexnik İnstitutu
  Azərbaycan Politexnik İnstitutu adlandırılıb.
</p>
<div class="img">
  <img src="{% static 'students/images/aztu2.jpg' %}" alt="" />
</div>
<p>
  1930-cu ildə Azərbaycan Politexnik İnstitutu “İttifaq Neft”ə tabe olduğundan
  Azərbaycan Neft İnstitutu adlandırılıb. Azərbaycan Politexnik İnstitutunun
  tərkibində olan Kənd təsərrüfatı” və İnşaat-mühəndis fakültələrinin bazasında
  1929-cu ildə Gəncə şəhərində Kənd təssərufatı, 1932-ci ildə isə Bakı şəhərində
  İnşaat institutları yaradılıb. 1934-cü ilin yanvar ayında Azərbaycan Neft
  İnstitutu ilə İnşaat İnstitutu birləşdirilərək Azərbaycan Sənaye İnstitutu
  adlandırılıb. Azərbaycan Sənaye İnstitutunun tərkibində Memarlıq-inşaat,
  Neft-mexanika, Energetika, Neft-mədən, Dəmir yolu və Mühəndis-iqtisadiyyat
  fakültələri olub. Azərbaycan Sənaye İnstitutunda əsasən neft sahəsi üçün
  mühəndis kadrların hazırlanması, İkinci Dünya Müharibəsindən sonra xalq
  təsərrüfatının bütün sahələrinin bərpası, inkişafı, yeni sənaye
  müəssisələrinin açılmasının vacibliyi, müxtəlif sahələr üzrə mühəndis
  kadrlarının hazırlanmasına olan ehtiyac və Azərbaycanda müəyyən intellektual
  texniki potensialın olması Azərbaycan Politexnik İnstitutunun bərpa olunmasına
  imkan verdi.
</p>
<p>
  Azərbaycan Respublikasının texniki təhsil sahəsində aparıcı
  universitetlərindən biri olan indiki Azərbaycan Texniki Universiteti (AzTU)
  1950-ci ilin noyabrında Bakı şəhərində tərkibində Mexanika, İnşaat, Dəmir yolu
  və Hidromelio­rasiya fakültələri olmaqla Azərbaycan Politexnik İnstitutu
  (AzPİ) adı altında yenidən yaradılıb. 1950-1955-ci illərdə institutun
  fakültələri müxtəlif ünvanlarda yerləşən binalarda fəaliyyət göstərib. 1955-ci
  ildən bütün fakültələri əhatə etməklə institut indiki binaya köçürülüb. Qərb
  və şərq memarlığının ən gözəl üslublarını özündə birləşdirən bu yaraşıqlı
  binada tələbələrin dərin biliklərə yiyələnməsi üçün hər bir şərait yaradılıb.
</p>
<div class="img">
  <img src="{% static 'students/images/aztu.jpg' %}" alt="" />
</div>
</div>
{% endblock %}
