<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'students/css/styles.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <ul class="mainmenu">
        <li class="logo">
          <a href="/"
            ><div class="logo">
              <img src="{% static 'students/images/logo.png' %}" alt="" /></div
          ></a>
        </li>
        {% for m in menu %} {% if not forloop.last %}
        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>

        {% else %}
        <li class="last">
          <button>
            <a href="{% url m.url_name %}">{{m.title}}</a>
          </button>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </header>
    <div class="main">
      <section class="first">
        <ul>
          {% if post_id %} {% for p in posts %}
          <div class="student">
            <p>{{p.group}} Tələbəsi</p>
            <p>{{p.name}}</p>
          </div>
          {% endfor %} {% else %} {% if cat_selected == 0 %}
          <li class="selected">Bütün qruplar</li>
          {% else %}
          <li class="selected"><a href="{% url 'home' %}">Bütün qruplar</a></li>
          {% endif %} {% for c in cats %} {% if c.pk == cat_selected %}
          <li class="selected">{{c.name}}</li>
          {% else %}
          <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
          {% endif %} {% endfor %} {% endif %}

          <li class="share">
            <p>Universitetimiz</p>
            <a href="https://www.aztu.edu.az/az" target="_blank">
              <img src="{% static 'students/images/aztu_logo2.png' %}" alt="" />
            </a>
          </li>
        </ul>
      </section>

      <section class="second">{% block content %} {% endblock %}</section>
    </div>

    <footer>
      <div class="container">
        <b>2023 by Fazila Chalabiyeva</b>
      </div>
    </footer>
  </body>
</html>
